body{
    background-image: url(backgroundphoto.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock{
    font-family: monospace;
    font-size: 10rem;
    font-weight: bold;
    text-align: center;
    color: white;
    -webkit-text-stroke: 0.25px black;
    backdrop-filter: blur(5px);
    background-color: hsla(0, 0%, 100%, 0.100);
    width: 100%;
}
